* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: OpenSansBold;
    src: url(../../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../../fonts/OpenSans-Regular.ttf);
}

html {
    background-color: #f0f3f6;
}
body {
    padding: 0 15px;
}
li {
    list-style: none;
}
.main-container {
    position: relative;
    width: 1024px;
}