.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
}
.popup-content  {
    position: relative;
    display: flex;
    width: 80%;
    height: 85%;
    margin: auto;
    padding-bottom: 25px;
    box-shadow: 0 0 5px 1px #d3dbe3;
    background: white;
}
.popup-content .image-container, .popup-content .comments-container{
    width: 50%;
}
.popup .image-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.popup .footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    background-color: #f2f2f2;
}
.popup-indicator {
    width: 62px;
    height: 52px;
    margin: 0 15px;
    background-color: #e0e5e9;
    transition: .3s;
}
.popup-indicator p {
    left: 36px;
}
.popup-indicator.dislikes-indicator:active,
.popup-indicator.likes-indicator:active {
    transform: translate(0px, -10px);
}
.popup-indicator.dislikes-indicator:active {
    background-color: red;
}
.popup-indicator.likes-indicator:active {
    background-color: green;
}
.close-button, .close-button:before {
    position: absolute;
    width: 7px;
    height: 25px;
    background-color: #21b8c6;

}
.close-button {
    top: 22px;
    right: 22px;
    background-color: #21b8c6;
    transform: rotate(45deg);
    cursor: pointer;
}
.close-button:before {
    content: '';
    display: block;
    transform: rotate(-90deg);
}
.comments-container {
    padding: 62px 20px 0 20px;
}
.comments-container h2 {
    color: #8499a7;
    margin-bottom: 30px;
    font: 600 1.5em/1.4 OpenSansBold;
}
.comments-container .content {
    height: 80%;
    overflow-y: auto;
}
.comment .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.comment .info p {
    font: 400 0.8em/1.4 OpenSansRegular;
    color: #8499a7;
    word-wrap: break-word;
}
.comment .info p:first-child {
    width: 80%;
}
.comment-text {
    font:400 0.9em/1.4 OpenSansRegular;
    border: 1px solid #f0f3f6;
    color: #607583;
    word-wrap: break-word;
    padding: 10px;
}
.comment {
    margin-bottom: 10px;
}
.popup input, .popup textarea {
    padding: 7px;
    outline: none;
    font: 400 0.8em/1.4 OpenSansRegular;
    border: 1px solid #f0f3f6;
}
.popup .user-input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #f0f3f6 ;
}
.submit-footer {
    height: 55px;
}
.popup textarea {
    width: 87%;
    height: 100%;
    resize: none;
}
.submit-button {
    cursor: pointer;
    width: 13%;
    height: 100%;
    outline: none;
    border: none;
    background: url(../images/send.png) 100% center no-repeat;
}